h1 {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
canvas {
  position: relative;
  display: block;
  z-index: 1;
}
#p5js-canvas canvas {
  position: relative;
  display: none;
}
