h1 {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
canvas {
  position: relative;
  display: block;
  z-index: 1;
}
.buttons {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.button {
  position: fixed;
  top: 0;
  display: block;
  height: 100%;
  padding: 0.5em 1em;
  background: rgb(22, 22, 22, 0.5);
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 2;
}
.button[data-slider-trigger='prev'] {
  left: 0;
}
.button[data-slider-trigger='next'] {
  right: 0;
}
#text-canvas {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}
