* {
  font-family: sans-serif;
}
h1 {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
canvas {
  position: relative;
  display: block;
  z-index: 1;
}
#text-canvas {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}
.buttons {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  z-index: 10;
}
.button {
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 0.25rem;
  border: solid 2px #0000;
  background-color: rgb(22, 22, 22, 0.8);
  backdrop-filter: blur(0.4rem);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  z-index: 2;
  transition: background-color 0.2s ease-in-out;
}
.button[data-slider-trigger='prev'] {
  left: 0;
}
.button[data-slider-trigger='next'] {
  right: 0;
}
button:not(:disabled) {
  cursor: pointer;
}
@media (hover: hover) {
  button:not(:disabled):hover {
    color: #000;
    border: solid 2px #000;
    background-color: rgb(234, 234, 234, 0.8);
  }
}
