h1 {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
canvas {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.triggers {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  gap: 1rem;
  z-index: 2;
}
button[data-animal-change-dir] {
  background-color: aliceblue;
  color: black;
  padding: 1rem;
}
